<h3>Select Country</h3>
<div class="container">
  <div >
    <select name="country" #t (change)="countryChanged(t.value)">
      <option value="" selected disabled>Select Country</option>
      <option value="India">India</option>
      <option value="UK">United Kingdom</option>
      <option value="US">United States</option>
    </select>
  </div>

  <div *ngIf="selectedCountry === 'India'" class="form-container">
    <input type="text" placeholder="Aadhaar Card">
  </div>

  <div *ngIf="selectedCountry === 'US'" class="form-container">
    <input type="text" placeholder="SSN">
    <input type="text" placeholder="Passport Number">
  </div>

  <div *ngIf="selectedCountry === 'UK'" class="form-container">
    <input type="password" placeholder="Password">
  </div>
</div>